<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/css/style.css">
</header>

<body>
    <div class="container">
        <img class="logo" src="/public/img/fiber_v2_logo.svg">
        <h1>{{.Title}}</h1>
    </div>

    <div class="container">
        <h3>{{.SubTitle}}</h3>
        <button class="login" onclick="login()">
            <img src="/public/img/kakao_login/en/kakao_login_large_narrow.png"/>
        </button>
    </div>

    <script>
        function login() {
            location.href={{.BASE_URL }} + '/oauth/authorize?client_id=' + {{.REST_API_CLIENT_KEY }} + '&redirect_uri=' + {{.REDIRECT_URI }} + '&response_type=code'
        }
    </script>
</body>

</html>