<!DOCTYPE html>
<html lang="kr">
    <header>
        <meta charset="UTF-8">
    </header>
    <body>
        <div class="container">
            <img src="/public/img/fiber_v2_logo.svg" width="250">
            <h1>{{.Title}}</h1>
        </div>
        
        <div class="container">
            <h3>{{.SubTitle}}</h3>
            <button type="button" onclick="callKakaoLogin()">
                <img src="/public/img/kakao_login/en/kakao_login_large_narrow.png" width="200"/>
            </button>
        </div>
    </body>
</html>