<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/css/style.css">
</header>

<body>
    <div class="container">
        <img class="logo" src="/public/img/fiber_v2_logo.svg">
        <h1>{{.Title}}</h1>
    </div>

    <div class="container">
        <h6>Auth Result: {{.AuthResult}}</h6>
    </div>

    <div class="container">
        <h6>Token Info: {{.TokenInfo}}</h6>
    </div>

    <div class="container">
        <h3>{{.SubTitle}}</h3>
        <button class="info" onclick="get_info()">Start</button>
    </div>

    <script>
        function get_info() {
            window.open('http://localhost:3000/two')
        }
    </script>
</body>

</html>