<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/css/style.css">
</header>

<body>
    <div class="container">
        <img class="logo" src="/public/img/fiber_v2_logo.svg">
        <h1>{{.Title}}</h1>
    </div>

    <div class="container">
        <h6>
            [+] Scopes Info<br>
            Scopes: {{.Scopes}}<br>
        </h6>
    </div>

    <div class="container">
        <h3>{{.SubTitle}}</h3>
        <button class="get" onclick="logout()">logout</button>
    </div>

    <script>
        function logout() {
            location.href='http://localhost:3000/logout'
        }
    </script>
</body>

</html>